/* Global Settings */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

html {
  height: 100%;
}

body {
  min-height: 100%;
  min-width: 600px;
  text-align: center;
  background-color: #ccc;
  color: #333;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  display: block;
  padding: 10px;
  margin-top: 64px;
  margin-bottom: 16px;
  font-size: 40px;
}

/* Navigation Bar */
header {
  background-color: #333;
  text-align: center;
  box-shadow: 5px 0px 10px 10px rgba(51, 51, 51, 0.4);
  width: 100%;
  min-width: 600px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

nav ul {
  list-style-type: none;
  display: flex;
  height: 45px;
}

nav li {
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 9rem;
}

#gap-col {
  flex-grow: 1;
}

nav li:last-child {
  border-right: none;
}

li a {
  text-decoration: none;
  color: #eee;
  text-transform: uppercase;
  font-size: 16px;
}

.dropdown_content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #333;
  opacity: 0.85;
  width: 200px;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(51, 51, 51, 0.3);
  z-index: 1;
}

.dropdown_content a {
  display: block;
  border-bottom: 1px solid white;
  padding: 10px 12px;
  text-decoration: none;
  color: #eee;
  text-transform: uppercase;
  font-size: 16px;
}

.dropdown_content a:last-child {
  border-bottom: none;
}

.active {
  background-color: #04aa6d;
  outline: 3px solid #333;
  outline-offset: -6px;
}

#dropbtn a i {
  display: inline-block;
  margin-left: 15px;
  transform: rotate(270deg);
}

.show_drop {
  display: block;
  /*   animation: dropdwn 0.2s linear 1 forwards;
  animation-direction: normal; */
}

.rotateArrow {
  animation: moveArrow 0.2s linear 1 both;
}

@keyframes moveArrow {
  from {
    transform: rotate(270deg);
  }

  to {
    transform: rotate(90deg);
  }
}

@keyframes dropdwn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.9;
  }
}

/* End of Navigation Bar */

main {
  width: 600px;
  margin: 60px auto;
}

main p {
  padding: 10px 10px;
  font-size: 16px;
}

#description {
  padding: 10px 10px;
  font-size: 16px;
}

form {
  text-align: left;
  margin: 0px 10px;
}

hr {
  margin: 20px 15px 20px 15px;
}

input {
  display: inline-block;
  margin: 5px 0px;
  padding: 5px;
  background: #eee;
}

#dropdown {
  display: block;
  width: 200px;
  margin: 15px auto 0 40px;
}

#number-label {
  display: inline-block;
  margin-right: 15px;
}

#email-label {
  display: inline-block;
  margin-right: 3px;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: middle;
  position: relative;
  bottom: 2px;
  margin-right: 10px;
  background: #eee;
}

textarea {
  background: #eee;
  margin-top: 15px;
  padding: 10px;
  margin: 15px auto 15px 15px;
}

#submit {
  display: block;
  margin: 14px auto 5px auto;
  padding: 10px;
  background-color: #04aa6d;
  color: #eee;
  font-weight: bold;
}

.fa-paper-plane {
  margin-left: 10px;
}

.tbox {
  display: inline-block;
  margin-left: 30px;
  width: 200px;
}

.tboxes,
.remaining {
  max-width: 300px;
  margin: 15px auto;
}

.remaining input {
  margin-left: 55px;
}

select {
  padding: 5px;
  background: #eee;
}

option {
  background: #eee;
}

#img-div {
  background-color: #eee;
  display: flex;
  margin: 0 auto 15px auto;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
  width: 60%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 5px rgba(50, 50, 50, 0.4);
}

#image {
  background-color: #eee;
  margin: 15px auto 0 auto;
  display: block;
  width: 80%;
  max-width: 480px;
  padding: 10px;
  border: 1px solid black;
}

#bio-info {
  text-align: left;
  padding: 10px;
  margin: 10px auto;
}

#bio-info hr {
  margin-top: 5rem;
  margin-bottom: 4rem;
}

#tribute-info {
  margin-bottom: 10px;
}

#tribute-list li {
  list-style-type: circle;
  padding-bottom: 5px;
}

#tribute-quote {
  width: 80%;
  padding: 10px 20px;
  margin: 25px auto 48px auto;
  color: #eee;
  background-color: slategray;
  border: 1px solid black;
  border-radius: 4px;
  float: right;
}

#tribute-quote cite {
  text-align: right;
  margin: 10px auto 5px auto;
  width: 100%;
  display: block;
}

#tribute-list {
  margin: 0 auto 0 32px;
}

#empire-map {
  display: block;
  margin: 30px auto 32px auto;
  border: 1px solid black;
  width: 60%;
}

#tribute-link {
  text-align: center;
  text-decoration: none;
  color: #04aa6d;
  font-weight: bold;
}

#bio-info h3 {
  margin: 20px auto;
  font-size: 1.6rem;
  clear: both;
}

figcaption {
  font-size: 14px;
  line-height: 1.5em;
  margin: 5px auto 15px auto;
}

#github {
  margin-left: 5px;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  min-width: 600px;
  background: #333;
}

footer p {
  color: #04aa6d;
  text-align: center;
  font-size: 14px;
}

footer p a,
#contact {
  text-decoration: none;
  color: #04aa6d;
}
